
### $Id: NAMESPACE,v 1.9 2008/02/04 17:01:35 goswami Exp $

useDynLib(EMC, TOEMCMainC)

export(randomWalkMetropolis,
       MetropolisHastings,
       parallelTempering,
       evolMonteCarlo,
       findMaxTemper,
       placeTempers,
       print.EMC,
       print.EMCMaxTemper,
       print.EMCPlaceTempers,
       CigarShapedFuncGenerator1,
       CigarShapedFuncGenerator2,
       VShapedFuncGenerator,
       WShapedFuncGenerator,
       uniModeFuncGenerator,
       twentyModeFuncGenerator)

S3Method(print, EMC)
S3Method(print, EMCMaxTemper)
S3Method(print, EMCPlaceTempers)
